.tooltip {
    position: absolute;
    top: 20px;
    background-color: #68591f88;
    backdrop-filter: blur(30px);
    color: white;
    padding: 3rem 1.5rem;
    border-radius: 20px;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease all 0.3s;

    >h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    >p {
        margin-top: 10px;

        >strong {
            color: #ffcc00;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 90vw;
        height: 90vh;
        top: 0;
        left: 0;
    }
}