.tooltip {
    width: 300px;
    position: absolute;
    top: 20px;
    left: 2vw;
    background-color: #68591fb3;
    backdrop-filter: blur(50px);
    color: white;
    padding: 3rem 1.5rem;
    border-radius: 20px;
    z-index: 1000;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease all 0.3s;

    >h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    >p {
        margin-top: 10px;

        >strong {
            color: #ffcc00;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 95vw;
        height: 80vh;
        margin: auto;
        align-self: center;
        justify-self: center;
        top: 0;
        left: 0;
    }
}